# OS
.DS_Store

# compiled output
/dist
/node_modules
/build
/results


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/_pycache_

# IDE - VSCode
.vscode/*
# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock