# OS
.DS_Store

# compiled output
/dist
/node_modules
/build
/results


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
__pycache__/

# 데이터 폴더 및 가중치 파일 추적 제외
data/
results/
*.pth

# IDE - VSCode
.vscode/*
# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock